<main>
    <div class="navigation">
        <div class="logo">
            <h1>QTask</h1>
        </div>
        <div class="calendar">
            Calendar
        </div>
        <div class="projects">
            <div class="project">
                Projects
            </div>
            <span class="newProject">+</span>
        </div>
        <form method="post" id="projectName">
            <div class="text">Name</div>
            <div class="text close">X</div><br>
            <input type="text" name="title" id="field"><br>
            <input type="submit" value="Create" class="btn">
        </form>
        <div class="projectList hide">

        </div>
        <div class="To-Do">
            To-Do Lists
        </div>
        <div class="signout">
            Sign Out
        </div>
    </div>
    <div class="app">
        <div class="logo">
            Welcome Back, {{fName}} {{lName}}!
        </div>
        <div class="ltext">
            <p>Now manage your daily tasks and Projects at just one place.</p>
            <hr>
        </div>
        <div class="projectDetail">
            <div class="projectName"></div>
            <div class="date text"></div>
        </div>
        <div class="mainContent">

        </div>
    </div>
</main>
<script src="/todo.js"></script>
<script src="/project.js"></script>