<main class="login">
    <div class="image">
        <img src="/pnghut_login-user-profile-logo.png" alt="Sign Up" height="120px" width="120px">
    </div>
    <p>Welcome Back</p>
    <form action="/home" method="post" id="form">
        <div class="mainField">
            <div class="fieldText">Email</div> <input type="email" name="email" id="field" required>
        </div>
        <div class="mainField">
            <div class="fieldText">Password</div> <input type="password" name="password" id="field" required>
        </div>
        <input type="submit" value="Login">
    </form>
</main>