<main class="register">
    <div class="image">
        <img src="/pnghut_login-user-profile-logo.png" alt="Sign Up" height="120px" width="120px">
    </div>
    <p>Create Account</p>
    <form action="/login" method="post" id="form">
        <div class="mainField">
            <div class="fieldText">First Name </div> <input type="text" name="firstName" id="field" required>
        </div>
        <div class="mainField">
            <div class="fieldText">Last Name</div> <input type="text" name="lastName" id="field" required>
        </div>
        <div class="mainField">
            <div class="fieldText">Email</div> <input type="email" name="email" id="field" required>
        </div>
        <div class="mainField">
            <div class="fieldText">Password</div> <input type="password" name="password" id="field" required>
        </div>
        <div class="mainField">
            <div class="fieldText">Confirm Password</div> <input type="password" name="confPassword" id="field" required>
        </div>
        <input type="submit" value="Register User">
    </form>
</main>