*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* styles for homepage of project and todos  */

body{
    background-color: rgba(241, 238, 238, 0.904);
}
.dashboard{
    width: max-content;
    height: max-content;
    position: absolute;
    top: 10px;
    left: 10px;
    display: none;
    z-index: 1;
    cursor: pointer;
}
main{
    display: flex;
}
.navigation{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100vh;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: white;
    overflow-x: hidden;
}
.leftSwipe{
    display: none;
    width: max-content;
    height: max-content;
    font-family: 'Poppins', sans-serif;
}
.highlight{
    background-color: rgba(160, 158, 158, 0.904);
    border-radius: 5px;
}
.project{
    width: 180px;
}
.projects{
    display: flex;
    align-items: center;
}
.To-Do, .project, .leftSwipe , .signout{
    margin: 15px 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
.app{
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc(100vw - 250px);
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.logo{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-weight: bolder;
    font-size: 1.6rem;
    margin-top: 20px;
}
.ltext{
    position: relative;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
hr{
    position: relative;
    width: 80%;
    left: 10%;
    color: grey;
}
.text{
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    padding: 5px 20px;
}
.description{
    overflow-y: scroll;
}
textarea{
    margin-left: 90px;
    background-color:rgba(241, 238, 238, 0.904) ;
}
form{
    position: relative;
    left: 25vw;
}
.field{
    width: 300px;
}
#field{
    margin-left: 15px;
    padding: 5px;
    border: none;
    border-bottom: 2px solid rgb(163, 162, 162);
    background-color: rgba(241, 238, 238, 0.904);
}
#field:focus{
    outline: none;
    border-bottom: 2px solid rgb(120, 120, 245);
}
.btn{
    text-decoration: none;
    text-align: center;
    display: inline-block;
    width: 100px;
    height: 25px;
    border: 3px solid black;
    font-family: 'Oswald', sans-serif;
    color: black;
    border-radius: 10%;
    margin-right: 10px;
    margin-left: 5px;
}
.lists{
    display: grid;
    grid-template-columns: 65vw;
    gap: 10px;
}
.item{
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 0.8rem;
}
span{
    display: inline-block;
    width: max-content;
    height: 40px;
    max-width: 200px;
    margin: auto 0;
}
@media screen and (max-width: 850px){
    .dashboard{
        display: inline-block;
    }
    .navigation{
        width: 0;
    }
    .leftSwipe{
        display: inline-block;
    }
    .newProject{
        display: none;
    }
    .app{
        width: 100vw;
    }
    .lists{
        grid-template-columns: 95vw;
    }
    .item{
        font-size: 0.5rem;
    }
}
@media screen and (max-width:550px) {
    form{
        left: 10vw;
    }
}
@media screen and (max-width:450px) {
    .field{
        width: 200px;
    }
    form{
        left: 2vw;
    }
    textarea{
        margin-left: 10px;
    }
    .app{
        overflow-x: scroll;
    }
}