*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body::before{
    position: absolute;
    content: " ";
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-color: rgba(241, 238, 238, 0.904);
}
main{
    display: flex;
}
.navigation{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100vh;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: white;
}
.projectList{
    position: relative;
    width: 200px;
    height: 35vh;
    background-color: 241, 238, 238, 0.904;
    margin-left: 30px;
    font-family: 'Poppins', sans-serif;
}
.hide{
    display: none;
}
.highlight{
    background-color: rgba(241, 238, 238, 0.904);
    border-radius: 5px;
}
.To-Do, .project, .calendar{
    margin: 15px 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
.app{
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc(100vw - 250px);
    height: 100vh;
}
.logo{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-weight: bolder;
    font-size: 1.6rem;
    margin-top: 20px;
}
.ltext{
    position: relative;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
hr{
    position: relative;
    width: 80%;
    left: 10%;
    color: grey;
}
.text{
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    padding: 5px 20px;
}
.description{
    overflow-y: scroll;
}
textarea{
    margin-left: 90px;
    background-color:rgba(241, 238, 238, 0.904) ;
}
form{
    position: relative;
    left: 25vw;
}
.field{
    width: 300px;
}
#field{
    margin-left: 15px;
    padding: 5px;
    border: none;
    border-bottom: 2px solid rgb(163, 162, 162);
    background-color: rgba(241, 238, 238, 0.904);
}
#field:focus{
    outline: none;
    border-bottom: 2px solid rgb(120, 120, 245);
}
.btn{
    text-decoration: none;
    text-align: center;
    display: inline-block;
    width: 100px;
    height: 25px;
    border: 3px solid black;
    font-family: 'Oswald', sans-serif;
    color: black;
    border-radius: 10%;
    margin-right: 10px;
    margin-left: 5px;
}
.lists{
    display: grid;
    grid-template-columns: 65vw;
    gap: 10px;
}
.item{
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    margin-left: 20px;
    margin-top: 20px;
}
span{
    display: inline-block;
    width: max-content;
    height: 40px;
    max-width: 200px;
    margin: auto 0;
}