*{
    margin: 0;
    padding: 0;
}
body::before{
    position: absolute;
    content: " ";
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-color: rgba(219, 213, 213, 0.904);
}
.register{
    position: relative;
    flex-direction: column;
    width: 25vw;
    height: 85vh;
    background-color: white;
    top: 8vh;
    left: 35vw;
}
.login{
    position: relative;
    flex-direction: column;
    width: 25vw;
    height: 55vh;
    background-color: white;
    top: 20vh;
    left: 35vw;
}
.image, p{
    font-size: 1.5rem;
    font-family: 'Dancing Script', cursive;
    text-align: center;
}
.mainField{
    margin: 10px;
    font-family: 'Poppins', sans-serif;
}
#field{
    width:80%;
    margin-left: 15px;
    padding: 5px;
    border: none;
    border-bottom: 2px solid rgb(163, 162, 162);
}
#field:focus{
    outline: none;
    border-bottom: 2px solid rgb(120, 120, 245);
}
input[type="submit"]{
    width: 170px;
    height: 35px;
    margin: 5px;
    background-color: rgb(86, 86, 221);
    color: white;
    font-weight: bolder;
    font-family: 'Oswald', sans-serif;
}
.error{
    padding-left: 20px;
    color: rgb(194, 20, 20);
    font-size: 0.8rem;
}
@media screen and (max-width:950px){
    .register{
        width: 40vw;
        left: 30vw;
    }
    .login{
        width: 40vw;
        left: 30vw;
    }
}
@media screen and (max-width:750px){
    .register{
        width: 55vw;
        left: 22vw;
    }
    .login{
        width: 55vw;
        left: 22vw;
    }
}
@media screen and (max-width:500px){
    .register{
        width: 90vw;
        left: 5vw;
    }
    .login{
        width: 90vw;
        left: 5vw;
    }
}